tqdm
datasets
transformers
sentencepiece
rouge
bert_score
google.generativeai
evaluate
git+https://github.com/google-research/bleurt.git
peft
bitsandbytes
accelerate
xformers
trl
unsloth@git+https://github.com/unslothai/unsloth.git
